@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://raw.githubusercontent.com/5TAHUR5/discord_themes/main/RoundingDestroy.theme.css');

:root {
  --accentcolor: 227,156,69;
  --accentcolor2: 227,156,69;
  --linkcolor: 227,156,69;
  --mentioncolor: 149,154,107;
  --textbrightest: 255,233,199;
  --textbrighter: 255,233,199;
  --textbright: 255,233,199;
  --textdark: 220,201,188;
  --textdarker: 156,129,129;
  --textdarkest: 156,129,129;
  --font: JetBrainsMono Nerd Font;
  --backgroundaccent: 45,36,36;
  --backgroundprimary: 26,21,21;
  --backgroundsecondary: 26,21,21;
  --backgroundsecondaryalt: 26,21,21;
  --backgroundtertiary: 26,21,21;
  --backgroundfloating: 26,21,21;
  --settingsicons: 1;
}
