@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://raw.githubusercontent.com/5TAHUR5/discord_themes/main/RoundingDestroy.theme.css');

:root {
  --accentcolor: 203,166,247;
  --accentcolor2: 203,166,247;
  --linkcolor: 203,166,247;
  --mentioncolor: 250,179,135;
  --textbrightest: 205,214,244;
  --textbrighter: 186,194,222;
  --textbright: 166,173,200;
  --textdark: 166,173,200;
  --textdarker: 127,132,156;
  --textdarkest: 108,112,134;
  --font: JetBrainsMono Nerd Font;
  --backgroundaccent: 88,91,112;
  --backgroundprimary: 30,30,46;
  --backgroundsecondary: 30,30,46;
  --backgroundsecondaryalt: 30,30,46;
  --backgroundtertiary: 30,30,46;
  --backgroundfloating: 30,30,46;
  --settingsicons: 1;
}
