@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://raw.githubusercontent.com/5TAHUR5/discord_themes/main/RoundingDestroy.theme.css');

:root {
  --accentcolor: 196,158,160;
  --accentcolor2: 196,158,160;
  --linkcolor: 196,158,160;
  --mentioncolor: 206,177,136;
  --textbrightest: 240,240,240;
  --textbrighter: 222,222,222;
  --textbright: 191,191,191;
  --textdark: 118,118,118;
  --textdarker: 115,115,115;
  --textdarkest: 76,76,76;
  --font: JetBrainsMono Nerd Font;
  --backgroundaccent: 57,57,57;
  --backgroundprimary: 25,25,25;
  --backgroundsecondary: 25,25,25;
  --backgroundsecondaryalt: 25,25,25;
  --backgroundtertiary: 25,25,25;
  --backgroundfloating: 25,25,25;
  --settingsicons: 1;
}
