@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://raw.githubusercontent.com/5TAHUR5/discord_themes/main/RoundingDestroy.theme.css');

:root {
  --accentcolor: 137,183,176;
  --accentcolor2: 137,183,176;
  --linkcolor: 137,183,176;
  --mentioncolor: 201,149,119;
  --textbrightest: 188,196,201;
  --textbrighter: 181,188,197;
  --textbright: 175,183,192;
  --textdark: 169,178,188;
  --textdarker: 163,172,184;
  --textdarkest: 157,166,180;
  --font: JetBrainsMono Nerd Font;
  --backgroundaccent: 55,61,64;
  --backgroundprimary: 26,32,35;
  --backgroundsecondary: 26,32,35;
  --backgroundsecondaryalt: 26,32,35;
  --backgroundtertiary: 26,32,35;
  --backgroundfloating: 26,32,35;
  --settingsicons: 1;
}
